%article

  = form_for candidate do |f|

    .space10
    %label{ style: 'width:100px;' } Your Name:
    = f.text_field :name
    .space10

    %label{ style: 'width:100px;' } Your Email:
    = f.text_field :email
    .space20

    Your role/roles:
    .space10

    %label
      = f.check_box :front_end
      Front-end
    .space

    %label
      = f.check_box :back_end
      Back-end
    .space

    %label
      = f.check_box :designer
      Designer
    .space

    %label
      = f.check_box :sys_admin
      Sys Admin
    .space

    %label
      = f.check_box :project_manager
      Project Manager
    .space20

    What languages and frameworks are you familiar with?
    %br
    What would you prefer to work in?
    .space
    = f.text_area :languages
    .space10

    Who have you worked for in the past? What did you do?
    .space
    = f.text_area :past_jobs
    .space10

    Can you point us to your Github (Dribbble for designers) and/or
    %br
    some work samples?
    .space
    = f.text_area :work_samples
    .space10

    Where do you live?
    .space
    = f.text_field :location
    .space15

    Are you willing to relocate?
    .space
      = f.select :relocate, [["no",false],["yes",true]]
    %br
    .space10

    If yes, do you have any location preferences? 
    .space
    = f.text_area :relocation_preferences, style: 'width:450px;height:40px;'


    .space10
    = f.submit 'Done'
    %span.grey{ style: 'padding-left:8px;padding-top:4px;' } Easy, right?

  :javascript
    $('#candidate_name').focus();

  :css
    label {
      width:180px;
      text-align:left;
    }

    select {
      width:60px;
    }

    input[type="checkbox"] {
      margin-right:4px;
      margin-bottom:4px;
      }

    textarea {
    width:460px;
    height:65px;
    }

  = javascript_include_tag 'new_candidate'
