%h2 You're in!
.space10
You're now on our list. Thanks for signing up! We hope that our service is genuinely helpful. 
.space10
We handpick the people we highlight each week, so we'll let you know in advance when you get selected.

.space10
= "If you think of anything else you want to send us, you can always email us at"
= mail_to "support@#{root_domain}."

.space10

Also, please refer anyone else you know that's looking for work. We'll pay you
%span.bold.red $50
for every interview they take. That's some serious mula.

.space15

= image_tag 'brace_yourself.png'

.space15

= link_to "Back to home page", root_path

