!!!
%html
  %head
    %title 500 Interviews
    = stylesheet_link_tag "bootstrap-buttons"
    = stylesheet_link_tag "bootstrap-form"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "livevalidation"
    = csrf_meta_tags
    = yield :head

  %body
    #container
      #header
        #inside
          = link_to :root do
            = image_tag 'logo.png', class: 'logo'
          #nav
            = link_to 'FAQ', :faq
            = link_to 'About', :about
            = link_to 'Contact', :contact
            -#= link_to 'Login', '#'

      #wrapper
        = yield
      #footer
        .inside
          &copy; 500 Interviews. All rights reserved.
      %div{ style: 'clear:both;' }

    = javascript_include_tag "//static.getclicky.com/js"
    :javascript
      try{ clicky.init(100627509); }catch(e){}
