!!!
%html
  %head
    %title Curl Jobs
    = stylesheet_link_tag "bootstrap-buttons"
    = stylesheet_link_tag "bootstrap-form"
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = javascript_include_tag "livevalidation"
    = csrf_meta_tags
    = yield :head
    = favicon_link_tag '/favicon.ico'

  %body
    %section
      %header
        = link_to :root do
          = image_tag 'logo.png', id: 'logo'

      = yield

    %footer
      %article
        &copy; Copyright all the things. Curl Jobs #{Time.now.year}.
